.list {
  list-style: none;
  padding: 0;
  overflow-wrap: anywhere;
  margin: 0;
}

.list__item {
  display: grid;
  grid-template-columns: 190px auto 170px 120px;
  align-items: end;
  justify-items: start;
  grid-gap: 24px;
}

.list__item:not(:last-child) {
  margin: 16px 0;
  padding: 0 0 16px;
  border-bottom: 1px solid #024f9b33;
}

@media (max-width: 819px) {
  .list__item {
    grid-template-columns: 190px 1fr 1fr 1fr;
    justify-items: center;
    grid-gap: 8px 24px;
  }
}

@media (max-width: 599px) {
  .list__item {
    grid-template-columns: 200px 1fr;
    justify-items: start;
    align-items: start;
    grid-gap: 8px 24px;
  }
}

@media (max-width: 479px) {
  .list__item {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
}

.list__index {
  width: 25px;
  margin-right: 16px;
}

.list__image {
  max-height: 80px;
  max-width: 140px;
  justify-self: center;
}

.list__container {
  display: flex;
  flex-direction: column;
}

.list__text {
  margin-bottom: 8px;
}

.list__button {
  cursor: pointer;
  border: none;
  background: #df1c01;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  justify-self: center;
  letter-spacing: 2px;
  transition: filter 0.5s;
}

@media (max-width: 599px) {
  .list__button {
    justify-self: start;
  }
}

.list__button:hover {
  filter: brightness(115%);
}
